*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #eff3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  background: radial-gradient(circle at 50% 0% , orange 36% , #ffffff 36%);
  width: 100%;
  margin-top: 15vh;
  padding: 30px 20px;
  box-shadow: 0 20px 30px rgba(0 , 0 , 0 , 0.15);
  border-radius: 10px;
}

.card img{
  width: 150px;
  margin-top: 30px;
  margin-left: 90px;
}
.hp{
  background: black;
  color:whitesmoke;
  width: 60px;
  border-radius: 20px;
  text-align: center;
  margin-left: 250px;
}
.poke-name{
  text-align: center;
}

.types{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top:10px;
  gap: 10px;
}
.types span{
  background: orange;
  width: 75px;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
}

.stats{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#btn{
  background: Black;
  color: white;
  text-align: center;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 200;
}

#btn{
  cursor: pointer;
}





