*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 30vw;
    height: 30vh;
    margin-top: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: #e5e5e5;
    border-radius: 20px;
}
.blue{
    color:blue
}
.container h2{
    font-size: 27px;
}

.btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button{
    width: auto;
    padding: 2px;
    color:white;
    background: #212121;
    border-radius: 5px;
    cursor: pointer;
}
